<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analyst Salaries</title>
    <link rel="stylesheet" type="text/css"  href="static/css/stylesheet.css">
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
</head>
<body>
  <div class="header">
    <h1>Data Analyst Salaries</h1>
    <p>A look at salaries across varying job titles of data professionals. Our dataset is from <a href="https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries" target="_blank">kaggle</a> and contains information on salaries, the remote ratio, place of employment, amongst additional information. </p>
    <p>To begin, select a job title below.</p>
  </div>


    <div class="grid" id="bubble">
        <div class="spacer --small"></div>
        <div id="bubbleplots">
          <div class="bubbleplot" data-num="0">
            <div class="control-row">
              Job Title: <select class="jobdata">
              </select>
            </div>
            <div class="plot" id="plotdiv"></div>
              <p>This plot shows the salaries reported by professionals by their Job Title. The plot uses the id number from our dataset on the x axis and the salaries associates on the y axis.</p>
            <div class="plot" id="myDiv"></div>
          </div>
        </div>
      </div>

      <div class="footer">
        <p>Our inspiration behind choosing this topic was from our curiosity about salaries of professionals in the field, as we are studying to become one of them. </p>
        <p>Our interest is to see the different combinations in job titles, salary, and location that might indicate what opportunity to go after. </p>
        <p>If you have any interest in checking out our API, click the link <a href="http://127.0.0.1:5000/api/v1.0/all" target="_blank">here</a>.</p>
        <p>The link above shows all of the data (/api/v1.0/all). We also have routes for job title (/api.v1.0/searchbyjobtitle/), usd salaries (/api.v1.0/searchbysalaryinusd/), and the remote ratio (/api.v1.0/searchbyremoteratio). </p>
      </div>

      <!-- <div class="grid-item" id="scatter">
        <div class="spacer --small"></div>
        <div id="scatterplots">
            <div class="scatterplot" data-num="0">
                <div class="plot" id="plotdiv2"></div>
                <div class="control-row">
                    Job Title: <select class="jobdata">
                    </select>
                </div>
            </div>
        </div>

      </div> -->
  <div id="pivot-container"></div>






    <script src="static/js/plots.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
    <script src="https://cdn.flexmonster.com/flexmonster.js"></script>
</body>
</html>