<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="static/css/stylesheet.css">
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</head>
<body>



    <div class="showcase__section" id="bubble">
        <div class="spacer --small"></div>
        <div id="bubbleplots">
          <div class="bubbleplot" data-num="0">
            <div class="plot" id="plotdiv"></div>
            <div class="plot" id="myDiv"></div>
            <div class="control-row">
              Job Title: <select class="jobdata">
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="grid-item" id="scatter">
        <div class="spacer --small"></div>
        <div id="scatterplots">
            <div class="scatterplot" data-num="0">
                <div class="plot" id="plotdiv2"></div>
                <div class="control-row">
                    Job Title: <select class="jobdata">
                    </select>
                </div>
            </div>
        </div>

      </div> -->






    <script src="static/js/plots.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
</body>
</html>